extends ./../_/template.pug
block body
	|<zero-md src="/README.md">
	|<template>
	|<style>
	|* { color: #ccc !important; }
	|pre { 
	|	background: var(--header); 
	|	border-radius: 4px; 
	|	padding: 10px 8px; 
	|}
	|</style>
	|</template>
	|</zero-md>
