<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezmoji Test Page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1><a href="https://ezmoji.arakilian0.com/">:purple_heart: Ezmoji</a></h1>
            <nav>
                <a href="/test/" target="_blank">Test</a>
                <a href="https://github.com/arakilian0/ezmoji/blob/master/README.md" target="_blank">How to Use</a>
                <a href="https://github.com/arakilian0/ezmoji/blob/master/LICENSE.md" target="_blank">License</a>
            </nav>
        </header>

        <main>
            <ul>
                <li
                    v-for="(emoji, name) in emojis"
                    :key="name"
                    v-if="emoji.available !== false"
                    class="copy-btn"
                    :data-clipboard-target="'#'+name">
                    <template>
                        {{ emoji.emoji }} <span :id="name">{{ emoji.code }}</span>
                    </template>
                </li>
            </ul>
        </main>
    </div>

    <script defer src="/test/ezmoji.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script defer src="/test/main.js"></script>
</body>
</html>
