<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ezmoji</title>
    <meta name="description" content="something">
    <meta name="keywords" content="Some, Keywords, Go Here">
    <meta name="author" content="Michael Arakilian">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1><a href="https://ezmoji.arakilian0.com">💜 Ezmoji</a></h1>
            <nav><a href="https://ezmoji.arakilian0.com/how-to-use">How to Use</a><a href="https://ezmoji.arakilian0.com/license">License</a><a href="https://github.com/arakilian0/ezmoji" target="_blank">Fork Me</a></nav>
        </header>
        <main id="index-main">
            <ul id="emojis">
                <li v-for="(emoji, idx) in emojis" v-if="emoji.available !== false"> <template>{{ emoji.emoji }}<span>{{ emoji.code.split(':')[1] }}</span></template></li>
            </ul>
        </main>
    </div>
    <script defer src="./assets/js/vue/vue.min.js"></script>
    <script defer src="./assets/js/main.js"></script>
    <script defer src="./ezmoji.js"></script>
</body>

</html>