header
  h1
    a(href="https://ezmoji.arakilian0.com") 💜 Ezmoji
  nav
    if page == 'how-to-use'
      a(href="https://ezmoji.arakilian0.com/how-to-use" class="active") How to Use
    else 
      a(href="https://ezmoji.arakilian0.com/how-to-use") How to Use
    if page == 'license'
      a(href="https://ezmoji.arakilian0.com/license" class="active") License
    else 
      a(href="https://ezmoji.arakilian0.com/license") License
    a(href="https://github.com/arakilian0/ezmoji" target="_blank") Fork Me
